/* fonts */
@font-face {
	font-family: "Readex Pro";
	src: url(./fonts/ReadexPro.ttf) format("truetype");
}

body {
	/* Typography/label/large */
	font-family: Readex Pro;
	font-size: 0.875rem;
	font-style: normal;
	line-height: 1.25rem; /* 142.857% */

	border-radius: 24px;
	color: var(--palette-white-900, #fff);
	background: var(--palette-blue-gray-900, #0f172a);
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: var(--palette-blue-gray-900, #0f172a);
	margin: 0 0.5rem;
	padding: 1rem 0 0 0;
	/* box-shadow: 0px 3px 5px black; */
}

.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: var(--palette-blue-gray-900, #0f172a);
	z-index: 5;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}

.loader--done {
	opacity: 0%;
	transition: all 1s;
}

.loader__image {
	/* position: fixed; */
	top: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.tabbar {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0.25rem 0;
}

.tabbar__tab {
	display: inline;
	padding: 1.5rem 0;
	margin: 0 0.25rem;
	border-radius: 0.5rem 0.5rem 0 0;
	text-decoration-thickness: 0.25rem;
	text-decoration-color: #00000000;

	text-align: center;
	text-decoration: none;
	color: var(--palette-white-900, #fff);
}

.tabbar__tab:hover {
	color: var(--palette-blue-200, #bddbff);
	background-color: var(--palette-blue-200, #bddbff1c);
	text-decoration: underline;
	text-decoration-thickness: 0.25rem;
	text-decoration-color: var(--palette-blue-200, #bddbff);
	text-underline-offset: 1rem;
	transition: all 0.25s;
}

.tabbar__tab:active {
	color: var(--palette-blue-200, #5b7da5);
	background-color: var(--palette-blue-200, #80b9ff1c);
	text-decoration: underline;
	text-decoration-color: var(--palette-blue-200, #80b9ff);
	text-decoration-thickness: 0.25rem;
	text-underline-offset: 1rem;
	transition: all 0.125s;
}

.navbar {
	position: fixed;
	width: 100%;
	bottom: 0;

	list-style: none;
	display: flex;
	justify-content: space-around;

	background: var(--palette-blue-gray-900, #0f172a);
}

.navbar__tab {
	display: inline;
	padding: 0.5rem 0;
	margin: 0 0.25rem;
	border-radius: 0.5rem 0.5rem 0 0;
	text-decoration-thickness: 0.25rem;
	text-decoration-color: #00000000;

	text-align: center;
	text-decoration: none;
	color: var(--palette-white-900, #fff);
}

.navbar__tab__icon {
	border-radius: 2rem;
	width: 4rem;
}

.navbar__tab:hover {
	color: var(--palette-blue-200, #bddbff);
	transition: all 0.25s;
}

.navbar__tab:hover .navbar__tab__icon {
	color: var(--palette-blue-200, #bddbff);
	background-color: var(--palette-blue-200, #bddbff1c);
	transition: all 0.25s;
}

.navbar__tab:active {
	color: var(--palette-blue-200, #5b7da5);
	transition: all 0.125s;
}

.navbar__tab:active .navbar__tab__icon {
	color: var(--palette-blue-200, #5b7da5);
	background-color: var(--palette-blue-200, #80b9ff1c);
	transition: all 0.125s;
}

.chart-view {
	display: flex;
	flex-wrap: wrap;
}

.chart {
	margin: 1rem 0.5rem;
	padding: 1rem;
	border-radius: 12px;
	background: var(--palette-blue-gray-800, #1e293b);
	flex: 1 1 auto;
}

.chart__header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 0.75rem 0;
}

.chart__header__details {
	margin: 0 auto 0 1rem;
}

.chart__header__details__subtitle {
	color: var(--palette-blue-gray-500, #64748b);
	font-size: 0.875rem;
	font-weight: 400;
	margin-block-start: 0;
	margin-block-end: 0;
}

.chart__header__details__title {
	font-weight: 400;
	font-size: 1.375rem;
	margin-block-start: 0;
	margin-block-end: 0;
}

.chart__chart {
	width: 100%;
}

.appbar {
	display: flex;
	/* width: 25.75rem; */
	height: 3rem;
	/* padding: 0.5rem 1rem; */
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.625rem;
	flex-shrink: 0;
}

.icon-button {
	height: 100%;
	width: 3rem;
	background: none;
	border: none;
	color: white;
	border-radius: 100%;
}

.icon-button svg {
	width: 1.5rem;
	height: 1.5rem;
}

.icon-button:hover {
	color: var(--palette-blue-200, #bddbff);
	background-color: var(--palette-blue-200, #bddbff1c);
	transition: all 0.25s;
}

.icon-button:active {
	color: var(--palette-blue-200, #5b7da5);
	background-color: var(--palette-blue-200, #80b9ff1c);
	transition: all 0.125s;
}

.icon-button__icon {
	width: 75%;
}

.appbar__search__input {
	/* border-radius: 10%; */
	/* padding: 1rem 2rem; */

	color: var(--palette-blue-gray-500, #64748b);

	background: none;
	border: none;

	width: 90%;
	height: 100%;

	/* Typography/body/medium */
	font-family: Readex Pro;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem; /* 142.857% */
	letter-spacing: 0.01563rem;
	flex: 1;
}

.appbar__search {
	height: 100%;
	flex: auto;
	border-radius: 10%;
	padding: 0 0.5rem;
	border-radius: 2rem;
	background: var(--palette-blue-gray-800, #1e293b);
	z-index: -2;
	display: flex;
}

.appbar__profile img {
	width: 2rem;
	border-radius: 100%;
	background: #000;
	background-clip: padding-box;

	/* border: solid $border transparent; /\* !importanté *\/ */
	border: solid 5px transparent;
	border-spacing: 1rem;
	&:before {
		content: "";
		/* position: absolute; */
		/* top: 0; */
		/* right: 0; */
		/* bottom: 0; */
		/* left: 0; */
		z-index: -1;
		margin: -5px;
		/* !importanté */
		border-radius: inherit;
	}
}

@charset "UTF-8";
.gradient-box {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;

	vertical-align: middle;

	position: relative;
	padding: 2px;
	color: #fff;
	background: #000;
	background-clip: padding-box;
	/* !importanté */
	border: solid 1px transparent;
	/* !importanté */
	border-radius: 100%;
	margin: auto 0;
}
.gradient-box:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -2px;
	/* !importanté */
	border-radius: inherit;
	/* !importanté */
	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.gradient-box img {
	width: 1.5rem;
	border-radius: 100%;
}
